<!DOCTYPE html>
<html>
<head>
    <title>My Page</title>
</head>
<body>
    <div class="wrapper" style="display: flex; flex-direction: column">
        <h1>동네친구 카카오 로그인</h1>
        <a href="https://kauth.kakao.com/oauth/authorize?response_type=code&client_id=1ad317e194df665ca44dcb82d11a7093&redirect_uri=http://localhost:8080/callback">
            <img src="https://developers.kakao.com/docs/static/image/ko/pc/kakaologin.png" alt="kakoLogin" style="cursor: pointer; width: 400px; height: 200px;">
        </a>

    </div>
</body>
</html>
